@use 'variables';

@mixin center-text($area, $bg-color, $color: #000, $weight: 500) {
    grid-area: $area;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: $weight;
    color: $color;
}