$primary-color: #4ecdc4;
$text-dark: #333;
$text-light: #666;
$text-muted: #999;
$background-light: #f8f9fa;
$white: #fff;
$border-color: #e9ecef;

$background-color-light: #fafafd;
$bg-header-footer: #bdbdbd;
$bg-nav: #f5c59b;
$bg-upper-content-left: #7e7e7e;
$bg-upper-content-center: #e54b38;
$bg-upper-content-right: #dbdbdb;
$bg-middle-content: #68aee8;
$bg-lower-content: #ed8020;